Repository colin-han/limulus: changes, and which lint-staged commands are due for each by the changed paths.
All: tsc --noEmit --skipLibCheck --allowSyntheticDefaultImports --target es2016, eslint --fix, prettier --write, prettier --list-different

.lintstagedrc.json:

{
    "*.{ts,tsx}": [
        "tsc --noEmit --skipLibCheck --allowSyntheticDefaultImports --target es2016",
        "eslint --fix",
        "prettier --write"
    ],
    "*.md": "prettier --list-different"
}

Add ts support to jest.
  jest.config.js
Due: none

Update to support parse number correctly.
  src/tokenizer.test.ts
  src/tokenizer.ts
Due: tsc --noEmit --skipLibCheck --allowSyntheticDefaultImports --target es2016, eslint --fix, prettier --write

Update prettier format.
  .lintstagedrc.json
  README.md
  eslint.config.mjs
  jest.config.js
  package.json
  prettier.config.mjs
  src/range.ts
  src/tokenizer.test.ts
  src/tokenizer.ts
  src/tokens.ts
  tsconfig.json
Due: tsc --noEmit --skipLibCheck --allowSyntheticDefaultImports --target es2016, eslint --fix, prettier --write, prettier --list-different

Add more UT.
  .gitignore
  src/__snapshots__/tokenizer.test.ts.snap
  src/range.test.ts
  src/range.ts
  src/tokenizer.test.ts
  src/tokenizer.ts
Due: tsc --noEmit --skipLibCheck --allowSyntheticDefaultImports --target es2016, eslint --fix, prettier --write

Implement statementizer.
  .vscode/settings.json
  jest.config.js
  src/nodes.ts
  src/statementizer.test.ts
  src/statementizer.ts
  src/statements.ts
  src/tokenizer.test.ts
  src/tokenizer.ts
  src/tokens.ts
Due: tsc --noEmit --skipLibCheck --allowSyntheticDefaultImports --target es2016, eslint --fix, prettier --write

update build script.
  package.json
  src/index.ts
  tsconfig.json
Due: tsc --noEmit --skipLibCheck --allowSyntheticDefaultImports --target es2016, eslint --fix, prettier --write

v1.0.1
  package.json
Due: none

Rename.
  .lintstagedrc.json
  CLAUDE.md
  src/index.ts
  src/node.ts
  src/nodes.ts
  src/statementizer.ts
  src/statements.ts
  src/tokenizer.ts
  src/tokens.ts
  yarn.lock
Due: tsc --noEmit --skipLibCheck --allowSyntheticDefaultImports --target es2016, eslint --fix, prettier --write, prettier --list-different

Fix jest error.
  .gitignore
  jest.config.js
Due: none

Refactor: rename BaseNode to GeneralNode and simplify token nodes
  eslint.config.mjs
  src/__snapshots__/tokenizer.test.ts.snap
  src/node.ts
  src/nodes.ts
  src/statements.ts
  src/tokenizer.ts
  src/tokens.ts
Due: tsc --noEmit --skipLibCheck --allowSyntheticDefaultImports --target es2016, eslint --fix, prettier --write

Refactor: use factory methods and computed properties for nodes
  src/__snapshots__/tokenizer.test.ts.snap
  src/nodes.ts
  src/statementizer.ts
  src/tokenizer.test.ts
  src/tokenizer.ts
  src/tokens.ts
Due: tsc --noEmit --skipLibCheck --allowSyntheticDefaultImports --target es2016, eslint --fix, prettier --write

Enhance toString methods with hierarchical display and simplify tests
  src/node.ts
  src/statementizer.test.ts
  src/statements.ts
  src/tokenizer.test.ts
  src/tokens.ts
Due: tsc --noEmit --skipLibCheck --allowSyntheticDefaultImports --target es2016, eslint --fix, prettier --write

Add PERCENTAGE token and implement Visitor pattern for mind map DSL
  .claude-summary/2025-01-09-session-summary.md
  .claude-summary/2025-01-27-toString-optimization.md
  .claude-summary/function-node-implementation.md
  .claude-summary/performance-benchmark-2025-01-27.md
  .claude-summary/statementizer-strategy.md
  .claude-summary/visitor-pattern-implementation.md
  eslint.config.mjs
  src/examples/visitors.ts
  src/node.ts
  src/nodes.ts
  src/statementizer.test.ts
  src/statementizer.ts
  src/statements.ts
  src/tokenizer.test.ts
  src/tokenizer.ts
  src/tokens.ts
  src/visitor.test.ts
  src/visitor.ts
Due: tsc --noEmit --skipLibCheck --allowSyntheticDefaultImports --target es2016, eslint --fix, prettier --write, prettier --list-different
